<%= turbo_stream.replace "comments_frame_#{@post.id}" do %>
  <%= render "posts/comments", post: @post %>
<% end %>

<%= turbo_stream.replace "comments_count_#{@post.id}" do %>
  <span id="comments_count_<%= @post.id %>" class="text-muted"><%= @post.comments.count %></span>
<% end %>

<% if @comment.errors.any? %>
  <%= turbo_stream.replace "comment_errors_#{@post.id}" do %>
    <div id="comment_errors_<%= @post.id %>" class="alert alert-danger mt-2">
      <ul class="mb-0">
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% else %>
  <%= turbo_stream.replace "comment_errors_#{@post.id}" do %>
    <div id="comment_errors_<%= @post.id %>"></div>
  <% end %>
<% end %>