<%= render "home/partial" %>

<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
  <p>
  <%= link_to "Back", posts_path, class: "btn btn-outline-secondary" %>
  <% if @post.user == current_user %>
  <%= link_to "Edit", edit_post_path(@post), class: "btn btn-outline-secondary" %>
<%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-outline-danger" %>
<% end %>
  </p>
    <h1 class="display-5 fw-bold">
    	<%= @post.title %>
    </h1>
    <p class="col-md-8 fs-6">
      <%= @post.body %>
    </p>
  </div>
  

<h3>Comments</h3>
<% if user_signed_in? %>
  <%= form_with model: [@post, @comment], local: true do |f| %>
    <%= f.text_area :body, placeholder: "Leave your comment...", class: "col-12 col-md-8 mx-auto"  %><br>
    <%= f.submit "Submit", class: "btn btn-outline-secondary"  %>
  <% end %>
<% else %>
  <p>You must be logged in to comment.</p>
<% end %>
<% @comments.each do |comment| %>
  <p>
    <strong><%= comment.user.username %>:</strong>
    <%= comment.body %>
    <% if comment.user == current_user %>
      <%= link_to "Delete", post_comment_path(@post, comment), 
          data: { turbo_method: :delete, confirm: "Are you sure?" } %>
    <% end %>
  </p>
<% end %>



</div>

